/* abaixo criamos variáveis */
:root {
    --primary-color: #264653;
    --secondary-color: #d2d2d2;
    --font-family: Arial, sans-serif;
    --font-size-base: 20px;
    --font-weight-bold: bold;
  }
  
  body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
  }
  
  .header {
    background: var(--primary-color);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: white;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 434px;
  }
  
  .resumo-video {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .resumo-texto, .video-wrapper {
    flex: 1;
    padding: 20px;
    text-align: center;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
  }
  
  .resumo-texto {
    background-color: var(--secondary-color);
    height: 100px;
  }
  
  .video-wrapper {
    background-color: #d4edda;
    min-height: 240px;
  }
  
  .titulo-trabalho, .texto-completo {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
  }
  
  .footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    margin-top: 40px;
  }
  
  /* abaixo criamos regras para telas maiores */
  @media (min-width: 768px) {
    .resumo-video {
      flex-direction: row;
    }
    .video-wrapper {
      width: 50%;
    }
  }
