/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa; /* Cor suave */
    color: #333;
}

/* Estilo do Cabeçalho */
.header {
    height: 90px; /* Definindo a altura para 90px */
    background: #264653; /* Degradê suave */
    display: flex;
    align-items: center; /* Centraliza verticalmente o texto */
    justify-content: center; /* Centraliza horizontalmente o texto */
    font-size: 24px; /* Tamanho do texto */
    color: white; /* Cor do texto branca */
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 434px;
}


.resumo-video {
    display: flex;
    gap: 20px;
    /* No mobile (telas menores), as divs devem ficar em coluna */
    flex-direction: column;
}

.resumo-texto {
    flex: 1;
    background-color: #d2d2d2; /* Fundo cinza claro (se quiser manter uma cor de fundo) */
    color: rgb(0, 0, 0); 
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    height: 100px; /* Definindo uma altura para simular 5 linhas */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-wrapper {
    flex: 1;
    background-color: #d4edda; /* Fundo verde claro */
    color: darkgreen; /* Texto em verde escuro */
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    height: 100px; /* Definindo uma altura padrão */
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Divs com estilo semelhante: titulo-trabalho e texto-completo */
.titulo-trabalho, .texto-completo {
    width: auto;
    background-color: #d2d2d2; /* Fundo cinza claro */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.titulo-trabalho {
    margin-bottom: 20px; /* Espaçamento extra para separar do resumo-video */
}

.texto-completo {
    margin-top: 20px; /* Espaçamento extra entre texto-completo e o restante */
}

/* Para telas maiores (desktop), o resumo e o vídeo ficam lado a lado */
@media (min-width: 768px) {
    .resumo-video {
        flex-direction: row;
        align-items: flex-start; /* Mantém o conteúdo alinhado ao topo em telas maiores */
    }

    .titulo-trabalho, .texto-completo, .resumo {
        width: 100% !important; /* Remove a largura 100% no desktop para evitar estiramento */
    }

    .video-wrapper {
        width: 50%; /* Define uma largura fixa para o vídeo em telas maiores */
        min-height: 240px; /* Define uma altura fixa para melhor visualização em desktop */
    }
}

/* Rodapé */
.footer {
    background-color: #264653;
    color: white;
    text-align: center;
    margin-top: 40px;
}

.footer>.container {
    min-height: auto !important;
}
